/*Fonts*/
.roboto-mono{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
.roboto-mono-s{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
.roboto-mono-b{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.open-sans-s{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.open-sans-b{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/*Configuración*/
img {
    max-width: 100%;
}
body{
    background-color: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.color-1{
    color: #0b0bb2;
}
.color-2{
    color: #00e96a;
}
.col-20{
    width: 20%;
}

header{
    backdrop-filter: blur(15px);
    background: rgba(239, 255, 246, .3);
    width: 100%;
    z-index: 1;
}
header .logo{
    display: block;
    width: 175px;
    transition: all .5s ease-in-out;
}
header.flota .logo{
    width: 120px;
}
header nav > ul > li > a.nav-link{
    color: #333;
    font-size: 18px;
    line-height: 18px;
    padding: 30px 15px;
    transition: all .5s ease-in-out;
}
header.flota nav > ul > li > a.nav-link {
    padding: 15px;
}
header nav > ul > li > a.nav-link:hover,
header nav > ul > li > a.nav-link.active{
    background-color: #1010de;
    color: #FFF;
}


.fondo-general{
    background-color: #effff6;
}
#inicio .container{
    height: 100vh;
}
.title-main{
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -3px;
}
.title-main small{
    font-size: 35px;
    line-height: 40px;
}
.title-ing{
    font-size: 35px;
    line-height: 40px;
}
#inicio .botones{
    max-width: 420px;
    width: 100%;
}
#inicio .botones a{
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .5s ease-in-out;
}
#inicio .botones a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#sobre-mi,
#projects,
#skills{
    padding: 80px 0;
}

#skills .skill{
    max-width: 200px;
    margin: 0 auto 30px;
    background-color: #FFF;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    transition: all .5s ease-in-out;
}
#skills .skill:hover{
    cursor: pointer;
}
#skills .skill figure{
    max-width: 100px;
    height: 100px;
    transition: all .5s ease-in-out;
    margin: 0;
}
#skills .skill figure img{
    max-width: 100px;
    height: 90px;
}
#skills .skill span{ 
    height: 0;
    opacity: 0;
    font-size: 16px;
    line-height: 21px;
    transition: all .5s ease-in-out;
}
#skills .skill:hover span{
    opacity: 1;
    height: 24px;
}

#projects .project {
    max-width: 355px;
    margin: 0 auto 50px;
}
#projects .project figure{
    height: 164px;
    overflow: hidden;
}
#projects .project figure img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#projects .project figure:hover img{
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
}
#projects .project .detalle{
    padding: 0 10px;
}
#projects .project span{
    font-size: 22px;
    line-height: 27px;
    display: block;
    padding-bottom: 5px;
}
