/*Fonts*/
.roboto-mono{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
.roboto-mono-s{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
.roboto-mono-b{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.open-sans-s{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.open-sans-b{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/*Configuración*/
img {
    max-width: 100%;
}
body{
    background-color: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.color-1{
    color: #0b0bb2;
}
.color-2{
    color: #00e96a;
}
.col-20{
    width: 20%;
}

header{
    background: rgba(239, 255, 246, .3);
    width: 100%;
    z-index: 1;
    transition: all .5s ease;
}
header.flota{
    background: rgba(239, 255, 246, 1);
    border-bottom: 1px solid #0b0bb2;
}
header .logo{
    display: block;
    width: 175px;
    transition: all .5s ease-in-out;
}
header.flota .logo{
    width: 120px;
}

.open-menu,
.close-menu{
    display: none;
}

header nav > ul > li > a.nav-link{
    color: #333;
    font-size: 18px;
    line-height: 18px;
    padding: 30px 15px;
    transition: all .5s ease-in-out;
}
header.flota nav > ul > li > a.nav-link {
    padding: 15px;
}
header nav > ul > li > a.nav-link:hover,
header nav > ul > li > a.nav-link.active{
    background-color: #1010de;
    color: #FFF;
}

.fondo-general{
    background-color: #effff6;
}
#inicio .container-lg{
    height: 100vh;
}
.title-main{
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -3px;
}
.title-main small{
    font-size: 35px;
    line-height: 40px;
}
.title-ing{
    font-size: 35px;
    line-height: 40px;
}
#inicio .botones{
    max-width: 420px;
    width: 100%;
    flex-flow: row wrap;
}
#inicio .botones a{
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    padding: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all .5s ease-in-out;
}
#inicio .botones a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#sobre-mi,
#projects,
#skills,
#contact{
    padding: 80px 0 60px;
}

#skills .skill{
    max-width: 200px;
    margin: 0 auto 30px;
    background-color: #FFF;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    transition: all .5s ease-in-out;
}
#skills .skill:hover{
    cursor: pointer;
}
#skills .skill figure{
    max-width: 100px;
    height: 100px;
    transition: all .5s ease-in-out;
    margin: 0;
}
#skills .skill figure img{
    max-width: 100px;
    height: 90px;
}
#skills .skill span{ 
    height: 0;
    opacity: 0;
    font-size: 16px;
    line-height: 21px;
    transition: all .5s ease-in-out;
}
#skills .skill:hover span{
    opacity: 1;
    height: 24px;
}

#projects .project {
    max-width: 355px;
    margin: 0 auto 50px;
    background-color: #effff6;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 0 6px 15px rgba(0,0,0,.075)!important;
    padding-bottom: 20px;
}
#projects .project:hover{
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}
#projects .project figure{
    height: 164px;
    text-align: center;
    overflow: hidden;
}
#projects .project figure img{
    border-radius: 6px 6px 0 0;
}
#projects .project .detalle{
    padding: 0 15px;
}
#projects .project p{
    min-height: 72px;
}
#projects .project span{
    font-size: 22px;
    line-height: 27px;
    display: block;
    padding-bottom: 5px;
}
#projects .project .ico-lenguaje{
    height: 80px;
}
#projects .project .ico-lenguaje > div{
    width: 60px;
    padding: 10px;
}

#contact .centro-contact{
    max-width: 450px;
    margin: 0 auto;
}
#contact .centro-contact .redes{
    max-width: 300px;
}
#contact .centro-contact .redes a{
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    padding: 0 5px;
}

footer{
    background-color: #f1f1f1;
    padding: 20px 0;
}
footer p{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 950px) {
    .menu{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #5353d3;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    .menu .nav{
        flex-direction: column;
        flex-wrap: initial;
        align-items: center;
    }
    .open-menu,
    .close-menu{
        display: block;
        outline: none;
        color: #FFF;
    }
    .open-menu{
        color: #0b0bb2;
        border: 2px solid #0b0bb2;
        background-color: transparent;
        cursor: pointer;
    }
    .close-menu{
        font-size: 35px;
        line-height: 36px;
        padding: 0;
        background: 0;
        align-self: flex-end;
        border: 0;
        margin: 23px 16px 0 0;
    }
    header.flota .close-menu{
        margin-top: 8px;
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }
    header{
        padding: 10px 0;
    }
    header.flota{
        padding: 5px 0
    }
    header nav > ul > li > a.nav-link{
        color: #FFF;
        font-size: 18px;
        line-height: 60px;
        padding: 0;
    }
    header.flota nav > ul > li > a.nav-link {
        padding: 0;
    }
    header nav > ul > li > a.nav-link:hover,
    header nav > ul > li > a.nav-link.active{
        background-color: transparent;
        color: #FFF;
    }
    #sobre-mi,
    #projects,
    #skills,
    #contact{
        padding: 50px 0;
    }
    .title-main{
        font-size: 40px;
        line-height: 45px;
    }
    .title-main small,
    .title-ing{
        font-size: 30px;
    }
    .col-20{
        width: 30%;
    }
}


@media screen and (max-width: 770px) {
    #inicio .container-lg{
        flex-direction: column !important;
        justify-content: center !important;
    }
    #inicio .container-lg .rounded-circle{
        max-width: 250px;
    }
    .title-main{
        font-size: 30px;
        line-height: 35px;
    }
    .title-main small,
    .title-ing{
        font-size: 25px;
    }
    #inicio .botones{
        max-width: 300px;
    }
    #inicio .botones a{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    #sobre-mi img{
        margin-bottom: 20px;
    }
    .col-20{
        width: 50%;
        padding: 5px;
    }
    #skills .skill{
        height: auto;
        margin-bottom: 10px;
    }
    #skills .skill figure{
        display: none;
    }
    #skills .skill span,
    #skills .skill:hover span {
        opacity: 1;
        height: auto;
    }
}