<!doctype html>
<html lang="es-ES">
<head>
    <title>Portafolio | Ing. Bryan Guevara</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/983debfd2b.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Mono:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="position-fixed"><div class="container-lg d-flex justify-content-between align-items-center">
        <div class="logo"><a href="#inicio"><img src="{{ url_for('static', filename='logos/logo.svg') }}" class="d-block" alt="Ingeniero Cristhian Bryan Guevara Ascoy"></a></div>
        <button class="open-menu" arial-label="Abrir Menú"><i class="fa-solid fa-bars"></i></button>
        <nav class="menu"><ul class="nav">
            <button class="close-menu" arial-label="Cerrar Menú"><i class="fa-solid fa-xmark"></i></button>
            <li class="nav-item"><a class="nav-link active" href="#inicio"><i class="fas fa-home"></i> INICIO</a></li>
            <li class="nav-item"><a class="nav-link" href="#sobre-mi"><i class="fas fa-user-tie"></i> SOBRE MÍ</a></li>
            <li class="nav-item"><a class="nav-link" href="#skills"><i class="fas fa-code"></i> SKILLS</a></li>
            <li class="nav-item"><a class="nav-link" href="#projects"><i class="fas fa-laptop-code"></i> PROYECTOS</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact"><i class="fas fa-at"></i> CONTACTO</a></li>
        </ul></nav>
    </div></header>
    <main>
        <section id="inicio" class="fondo-general"><div class="container-lg d-flex flex-row-reverse justify-content-between align-items-center">
            <div class="col-md-6 text-center">
                <img class="rounded-circle" src="{{ url_for('static', filename='images/bryan-guevara.jpg') }}" alt="Ing. Cristhian Bryan Guevara Ascoy">
            </div>
            <div class="col-md-6">
                <h1 class="roboto-mono-b title-main mb-3"><small class="d-block">Hola! Soy</small>Cristhian Bryan Guevara Ascoy</h1>
                <span class="d-block title-ing color-1 mb-3 open-sans-b">ING. TELEINFORMÁTICO</span>
                <h2 class="typed-text-output d-inline open-sans-s color-2"></h2>
                <div class="typed-text d-none">Desarrollador Web, Junior Full Stack Developer, BackEnd Developer, FrontEnd Developer</div>
                <div class="d-flex flex-row justify-content-between align-items-center mt-4 botones tooltip-demo">
                    <a href="https://github.com/Bryan112094" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GitHub"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/ing-bryan-guevara-ascoy/" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/bryandev11" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/bryandev11/" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://web.whatsapp.com/send?phone=51944341351&text=" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                    <!--<a href="" class="btn btn-dark open-sans-b" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CV">CV</a>-->
                </div>
            </div>
        </div></section>
        <section id="sobre-mi"><div class="container-lg"><div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 text-center">
                <h3 class="roboto-mono-b mb-5 color-3">Sobre Mí</h3>
            </div>
            <div class="col-md-6 col-12 text-center">
                <img src="{{ url_for('static', filename='images/sobre-mi.png') }}" alt="">
            </div>
            <div class="col-md-6 col-12">
                <h2 class="roboto-mono-b mb-3 color2">Cristhian Bryan Guevara Ascoy</h2>
                <ul>
                    <li>Títulado de la carrera profesional de Ingeniería Teleinformática</li>
                    <li>Dominio de lenguajes de programación</li>
                    <li>Conocimientos de Base de Datos</li>
                    <li>Capacidad para analizar y resolver problemas</li>
                    <li>Conocimientos técnicos sobre informática</li>
                    <li>Capacidad para organizar mi trabajo</li>
                    <li>Habilidad para el trabajo individual y en equipo</li>
                    <li>Me desempeño de manera eficaz en el desarrollo de Páginas Web y Sistemas Web.</li>
                    <li>Responsable</li>
                    <li>Honesto</li>
                    <li>Empeñoso</li>
                    <li>Autodidacta</li>
                    <li>Soy una persona que siempre está en busca de mejora personal y profesional.</li>
                </ul>
            </div>
        </div></div></section>
        <section id="skills" class="fondo-general"><div class="container-lg d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-12 text-center">
                <h3 class="roboto-mono-b mb-5 color-3">Skills</h3>
            </div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/HTML5.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">HTML5</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/CSS3.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">CSS3</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Javascript.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">JavaScript</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/PHP.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">PHP</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/JQuery.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">JQuery</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/MySQL.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">MySQL</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Laravel.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Laravel</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Python.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Python</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Flask.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Flask</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Bootstrap.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Bootstrap</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Foundation.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Foundation</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/VisualStudioCode.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Visual Studio Code</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/Git.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">Git</span>
            </div></div>
            <div class="col-20"><div class="skill d-flex flex-column justify-content-center align-items-center">
                <figure class="rel">
                    <img src="{{ url_for('static', filename='images/skill/GitHub.svg') }}" alt="">
                </figure>
                <span class="color1 roboto-mono-s">GitHub</span>
            </div></div>
        </div></section>
        <section id="projects"><div class="container-lg"><div class="row">
            <div class="col-12 text-center">
                <h3 class="roboto-mono-b mb-5 color-3">Proyectos</h3>
            </div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/mailer.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Mailer APP</span>
                    <p>Es una aplicación que envía correos utilizando la API de SendGrid</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/Python.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Flask.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/CSS3.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/gestordeclientes.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Gestor de Clientes</span>
                    <p>Es una aplicación para gestionar mis clientes</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/Python.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/gestordetareas.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Gestor de Tareas</span>
                    <p>Es una aplicación para gestionar mis tareas diarias y tacharlas si ya se culminaron</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/Python.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <div class="carousel slide" data-bs-ride="carousel"><div class="carousel-inner">
                    <div class="carousel-item active"><figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/login-laravel.jpg') }}" alt=""></figure></div>
                    <div class="carousel-item"><figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/crud-laravel.jpg') }}" alt=""></figure></div>
                </div></div>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Login y CRUD</span>
                    <p>Es una aplicación para gestionar mis tareas diarias y tacharlas si ya se culminaron</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/Laravel.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Bootstrap.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/portafolio.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Portafolio Personal</span>
                    <p>Es una aplicación para presentarme y que puedas ver una pequeña parte de mis proyectos personales</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/Python.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Flask.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Bootstrap.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Javascript.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/circuito.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Circuito Publicidad</span>
                    <p>Página web desarrollada para la empresa Terratech Perú</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/HTML5.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/CSS3.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Javascript.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/PHP.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Foundation.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/adeh.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">ADEH</span>
                    <p>Página web desarrollada para la empresa Terratech Perú</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/HTML5.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/CSS3.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Javascript.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/PHP.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Foundation.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/inovalab.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Inova Lab</span>
                    <p>Página web desarrollada para la empresa Terratech Perú</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/HTML5.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/CSS3.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Javascript.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/PHP.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Foundation.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
            <div class="col-12 col-lg-4 col-md-6"><div class="project border border-primary rounded-2">
                <figure class="position-relative border-bottom border-primary border-2"><img src="{{ url_for('static', filename='images/projects/akawa.jpg') }}" alt=""></figure>
                <div class="detalle">
                    <span class="color1 roboto-mono-s">Akawa Hoteles</span>
                    <p>Página web desarrollada para la empresa Terratech Perú</p>
                    <div class="ico-lenguaje d-flex align-items-center">
                        <div><img src="{{ url_for('static', filename='images/skill/HTML5.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/CSS3.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Javascript.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/PHP.svg') }}" alt=""></div>
                        <div><img src="{{ url_for('static', filename='images/skill/Foundation.svg') }}" alt=""></div>
                    </div>
                </div>
            </div></div>
        </div></div></section>
        <section id="contact" class="fondo-general"><div class="container"><div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 text-center">
                <div class="centro-contact">
                    <h4 class="roboto-mono-s color-3">Contáctame por mis redes sociales</h4>
                    <div class="redes d-flex flex-row justify-content-center gap-3 align-items-center mt-4 mb-4 tooltip-demo">
                        <a href="https://github.com/Bryan112094" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GitHub"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ing-bryan-guevara-ascoy/" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/bryandev11" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/bryandev11/" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Instagram"><i class="fab fa-instagram"></i></a>
                        <a href="https://web.whatsapp.com/send?phone=51944341351&text=" target="_blank" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div></div></section>
    </main>
    <footer><div class="container justify-content-center">
        <p>Hecho con &#128151;, por Cristhian Bryan Guevara Ascoy</p>
    </div></footer>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>